.loginStyle {
  width: 70%;
  max-width: 75%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.loginStyle:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  cursor: pointer;
}
