.logo {
  width: 25%;
  height: 25%;
  display: flex;
  margin: 0 auto;
  padding: 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  &:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor: pointer;
  }
}
.aLinks:hover {
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.inputBorder:focus {
  border-color: hsl(252, 100%, 75%) !important;
  box-shadow: 0 0 0 0.4rem rgba(127, 94, 255, 0.25) !important;
}
.inputBorderError {
  border-color: red !important;
  box-shadow: 0 0 0 0.4rem rgba(255, 0, 0, 0.25) !important;
}
.custom_checkbox :global(.form-check-input:checked) {
  background-color: #725ea6 !important;
  border-color: #725ea6 !important;
}

.custom_checkbox :global(.form-check-input:focus) {
  border-color: #725ea6 !important;
  box-shadow: 0 0 0 0.2rem rgba(114, 94, 166, 0.25) !important;
}
