.logo {
  width: 100px;
  height: 100px;
  animation: pulse 1s;
  margin: 0 !important;
  padding: 0 !important;
  display: block;
}

.logo:hover {
  transform: scale(2);
  cursor: pointer;
}
@keyframes pulse {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  25% {
    transform: translateY(-30px);
    opacity: 0.25;
  }
  50% {
    transform: translateY(-20px);
    opacity: 0.5;
  }

  75% {
    transform: translateY(-10px);
    opacity: 0.75;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.Navbar_Brand {
  animation: pulse 1s;
  font-weight: bold;
  color: #725ea6 !important;
  font-size: 1.5rem !important;
  margin: 0 !important;
  padding: 0 !important;
  display: block;
}
.icon {
  color: #725ea6 !important;
  font-size: 2.5rem !important;
  margin: 0 !important;
  padding: 0 !important;
  display: block;
}
.nav {
  background: linear-gradient(135deg, #e9ebef, #c3cfe2);
}
