.title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}
.reviwes {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
  color: #666;
  margin: 0;
  padding: 0;
}
.stock {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
  color: #00a86b;
  margin: 0;
  padding: 0;
}

.price {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 24px;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}
.desc {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0;
  margin-bottom: 24px;
  margin: 0;
  padding: 0;
}
hr {
  height: 2px;
  border: none;
  background-color: #000;
}
.image:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
