.allProducts {
  padding: 10px;
  animation: all 1.5s linear;
  border-radius: 10px;
}
@keyframes all {
  0% {
    transform: translateX(600px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.button {
  width: 234px;
  height: 56px;
  background-color: #db4444 !important;
  border: none !important;
}
.button:hover {
  background-color: #b32b2b !important;
  transition: background-color 0.3s ease;
  cursor: pointer;
  transform: scale(1.03);
}
