.button2:hover {
  background-color: #b32b2b !important;
  transition: background-color 0.3s ease;
  cursor: pointer;
  transform: scale(1.03);
}
.button2 {
  margin: 0 !important;
  padding: 0 !important;
  height: 56px;
  background-color: #db4444 !important;
  border: none !important;
}
.button:hover {
  background-color: #1c32af !important;
  transition: background-color 0.3s ease;
  cursor: pointer;
  transform: scale(1.03);
}
.button {
  margin: 0 !important;
  padding: 0 !important;
  height: 56px;
  background-color: #2846f5 !important;
  border: none !important;
}
